<a href="{% url 'reviews:movie_list' %}">영화 목록으로</a>

<h1>{{ movie.title }}</h1>

{% if movie.poster_path %}
  <img
    src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
    style="width:300px;"
  />
{% endif %}

<p><strong>개봉 연도:</strong> {{ movie.release_year }}</p>

<p>
  <strong>감독:</strong>
  {% if movie.director %}
    {{ movie.director }}
  {% else %}
    정보 없음
  {% endif %}
</p>

<p>
  <strong>출연 배우:</strong>
  {% if movie.actors %}
    {{ movie.actors }}
  {% else %}
    정보 없음
  {% endif %}
</p>

<p><strong>줄거리:</strong></p>
<p>{{ movie.overview }}</p>
