{% extends "base.html" %}

{% block content%}

<h2>{{ review.title }}</h2>

<ul class="reviews-list">
    <li>개봉년도: {{ review.release_year }}</li>
    <li>감독: {{ review.director }}</li>
    <li>주연: {{ review.actor }}</li>
    <li>장르: {{ review.genre }}</li>
    <li>별점: {{ review.score }}</li>
    <li>러닝타임: {{ running_time_display }}</li>
</ul>

<hr>

<p>{{ review.content }}</p>

<hr>

<a href="{% url 'reviews:list' %}" class="btn btn-secondary">
    my Movie reviews
</a><br>

<a href="{% url 'reviews:update' review.id %}" class="btn btn-outline-primary me-2">수정</a>

<form action="{% url 'reviews:delete' review.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">삭제</button>
</form>

{% endblock %}