{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Pirostagram</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">Pirostagram</a>
        </h1>

        {% if user.is_authenticated %}
            {{ user.username }} 님 |
            <a href="{% url 'logout' %}">로그아웃</a>
            <a href="{% url 'posts:create' %}">+ 게시글 작성</a>
        {% endif %}

    </header>

    

    {% block content %}
    {% endblock %}
</body>
</html>