{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>

    <header>
        <h1><a href="/">Pirostagram</a></h1>
    </header>

        {% if user.is_authenticated %}
            {{ user.username }} 님 |
            <a href="{% url 'users:logout' %}">로그아웃</a>
            <a href="{% url 'posts:create' %}">+ 게시글 작성</a>
            <form action="{% url 'users:search' %}" method="GET">
                <input type="text" name="q" placeholder="유저 검색">
                <button type="submit">검색</button>
            </form>
        {% endif %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>