.post-actions {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.post-actions a,
.post-actions button {
    font-size: 13px;
    color: #3897f0;
}

.post-actions button {
    background: none;
}
