* {box-sizing: border-box;}
html,body,h3,p,strong,header,nav,div,article,a,img,span,footer {
    margin:0; padding:0;
    font-size:1.0rem; font-weight:normal; font-style:normal;
}
a {color: #000; text-decoration: none;}